body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .wrapper {
    height: 100vh;
    background: #000;
    display: grid;
    place-items: center;
  } 
  .portrait {
    font-size: 10px;
    line-height: 10px;
    background: url('https://thumbs2.imgbox.com/30/36/6KmGfRCR_t.png') fixed center no-repeat;
    background-size: contain;
  }
  .portrait {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.1);
  }